 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: rgb(0, 0, 33);
     color: white;
     font-family: 'poppins', 'sans-serif';

 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 80px;
     background-color: rgb(0, 0, 62);
 }

 nav ul {
     display: flex;
     justify-content: center;
 }

 nav ul li {
     list-style: none;
     margin: 0px 23px;
 }

 nav ul li a {
     text-decoration: none;
     color: white;
 }

 nav ul li a:hover {
     color: rgb(200, 200, 243);
     font-size: 1.04rem;
 }

 .left {
     font-size: 1.5rem;
 }

 .firstsection {
     display: flex;
     justify-content: space-around;
     margin: 80px 0px;
     align-items: center;
 }

 .firstsection>div {
     width: 30%;
 }
 .leftsection  a .btn{
    padding: 10px;
    background-color: #1e2167;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin: 20px 0px 0px 0px;
    color: white;
 }

 .leftsection {
     font-size: 2.5rem;
 }
 
 

 .rightsection {
     width: 30%;
 }

 .rightsection img {
     width: 80%;
     margin: 50px 0px;
 }

 .purple {
     color: rgb(127, 47, 200);
 }

 #element {
     color: rgb(127, 47, 200);
 }

 .text-gray {
     color: gray;
 }

 .secondsection {
     max-width: 80vw;
     margin: auto;
     height: 80vh;
 }

 .secondsection h1 {
     font-size: 1.9rem;
 }

 main hr {
     border: 0;
     background-color: #9c97f1;
     height: 1.2px;
     margin: 40px 84px;

 }

 .secondsection .box {
     background-color: white;
     width: 80vw;
     height: 2px;
     margin: 56px 0;
     display: flex;

 }

 .secondsection .vertical {

     width: 1px;
     height: 93px;
     background-color: white;
     margin: 0px 105px;
 }

 .vertical-title {
     position: relative;
     top: 75px;
     width: 150px;

 }

 .vertical-desc {
     position: relative;
     top: 80px;
     color: gray;
     width: 150px;
     font-size: 11px;

 }

 .image-top {
     width: 33px;
     position: relative;
     top: -32px;
     left: -9px;
 }

 footer {
     background-color:  rgb(4, 4, 52);
     
 }

 .footer {
     display: flex;
     justify-content: space-evenly;
    padding: 23px 120px;

 }
  footer .footer ul li{
    list-style: none;
 }
 .footer > div{
    width: 170px;
 }
 footer .footer-text-center {
    text-align: center;
    padding: 20px 0px;
    color: gray;
   
}